# Copyright (c) 2025 Silicon Laboratories Inc.
# SPDX-License-Identifier: Apache-2.0

config GPIO_FAKE
	bool "Generic GPIO fake driver"
	default y
	depends on DT_HAS_ZEPHYR_GPIO_FAKE_ENABLED
	help
	  Enable generic fake GPIO driver.
	  This provides empty implementations of GPIO functions.
	  Use compatible "zephyr,gpio-fake" in DTS overlay.
